


.page-pale-background {

    background-color: rgb(251,251,251)

}


.element-color {

    background-color: white;

}


.link-green {

    color: green;

}


.link-blue {

    color: darkblue;

}



.link-darkorchid {

    color: darkmagenta

}