.page-content {
    position: absolute;
    z-index: 1000;
    padding-top: 40px;
    padding-left: 200px;
}


.first-page {
    width: 1920px;
    height: 1080px;

    background-image: url('/resources/images/sky.jpeg');
    background-repeat: no-repeat;
}

.first-page-extension {
    position: absolute;
    width: 1920px;
    height: 1080px;

    top :1080px;

    background-image: url('/resources/images/sky.jpeg');
    background-repeat: no-repeat;
    transform: rotate(180deg);
}


.second-page {
    position: absolute;
    z-index: 100;

    top: 1500px;
    width: 1920px;
    height: 1080px;

    background: linear-gradient(199.52deg, #161B22 9.98%, #202E43 70.51%, #0D1725 88.6%);
}


.third-page {
    position: absolute;
    z-index: 200;

    width: 1920px;
    height: 1080px;
    top: 2586px;
}

.fourth-page {
    position: absolute;
    z-index: 250;

    width: 1920px;
    height: 2459px;
    left: 0px;
    top: 3300px;

    background: linear-gradient(199.52deg, #161B22 9.98%, #202E43 70.51%, #0D1725 88.6%);
}


.fifth-page {
    position: absolute;
    z-index: 300;

    width: 1920px;
    height: 1080px;

    left: 0px;
    top: 5740px;

    background-image: url('/resources/images/sky.jpeg');
    background-repeat: no-repeat;
}
