@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr?styles=17338,17329,17339,17336,17328,17331');
                

* {
    margin: 0;
    padding: 0;

    font-family: 'Avenir Next Cyr', sans serif;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    overflow-x: hidden;
}



a, a:visited {
    text-decoration-line: none;
}