.element-list {

    margin: 50px;

}


.element {

    align-items: left;

    margin-top: 10px;
    margin-left: 10px;

    max-width: 550px;

    font-family: Arial, Helvetica, sans-serif;

}


.flex-container {
    display: flex;
}


.icon {
    margin-bottom: 10px;
    margin-top: 16px;
    margin-right: 10px;
    margin-left: 5px;
}


.upper-content {
    justify-content: left;
}


.lower-content {

    margin-top: 8px;
    margin-bottom: 8px;

    font-weight: 300;

}


.title, .path {
    margin-left: 10px;
    line-height: 6px;

}


.title {
    font-size: 13px;
}


.path {
    font-size: 11px;
    color:gray;
}


.footer-text, .header {

    color: blue;

}


.header, .clicked-header {

    font-size: 16px;
    font-weight: 600;

}


.clicked-header {

    color: darkorchid;

}


.main-text, .footer-text {

    font-size: 13px;

}