@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr?styles=17338,17329,17339,17334,17336,17328,17331');

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1500px;
    height: 100px;

    text-transform: uppercase;
}




.header__link-array {
    display: flex;
}

.header__link-array__label, .header__link-array__label--business {
    margin-left: 30px;
    margin-right: 30px;

    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #828282;
}

.header__link-array__label--business {
    color: #000000;
}

.header__phone {
    display: flex;
    justify-content: center;
    gap: 20px;

    height: 100%;
}

.header__phone__icon {
    width: 22px;
    height: 22px;
    background-image: url('/resources/icons/phone.png');
}

.header__phone__number {
    color: #000000;
    font-weight: 700;
}

.header__pointer-img {
    position: absolute;
    width: 22px;
    height: 23px;
    left: 860px;
    top: 66px;
}