.first-page {
    width: 1920px;
    height: 1080px;

    padding-top: 50px;
    padding-left: 200px;

    overflow: hidden;

    background-image: url('/resources/images/sky.jpeg');
    background-repeat: no-repeat;
}