body {
    font-family:Arial, Helvetica, sans-serif;
}


p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}


h1, h2 {
    margin-top: 30px;
    margin-left: 10px;
}


h1 {
    font-size: 40px;

    text-transform: uppercase;

    color: red;
}


h2 {
    font-size: 30px;

    color: green;

    text-decoration-line: underline;
}


ul {
    font-style: italic;

    font-size: 24;

    list-style-type: square;
}


li {
    margin: 8px;
}