.flex-align-start {
	align-items: flex-start;
}

.flex-align-end {
	align-items: flex-end;
}

.flex-align-center {
	align-items: center;
}

.flex-align-baseline {
	align-items: baseline;
}

.flex-align-stretch {
	align-items: stretch;	
}
