.body__scheme--flex__graphics {
    position: absolute;
    z-index: 150;

    top: 410px;
    left: 740px;
}


.body__scheme--flex__graphics__white-ellipse-top, .body__scheme--flex__graphics__white-ellipse-mid, .body__scheme--flex__graphics__white-ellipse-bot,
.body__scheme--flex__graphics__red-ellipse-top, .body__scheme--flex__graphics__red-ellipse-mid, .body__scheme--flex__graphics__red-ellipse-bot,
.body__scheme--flex__graphics__smaller-white-ellipse-top, .body__scheme--flex__graphics__smaller-white-ellipse-bot  {
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    
    border: solid transparent;
    border-radius: 50%;
}



/*  picture larger white ellipses  */
.body__scheme--flex__graphics__white-ellipse-top, .body__scheme--flex__graphics__white-ellipse-mid, .body__scheme--flex__graphics__white-ellipse-bot {
    z-index: 150;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
}

.body__scheme--flex__graphics__white-ellipse-mid {
    margin-left: -30px;
    margin-top: 100px;
}

.body__scheme--flex__graphics__white-ellipse-bot {
    margin-left: -12px;
    margin-top: 170px;
}



/*  picture smaller red ellipses inside larger white ones  */
.body__scheme--flex__graphics__red-ellipse-top, .body__scheme--flex__graphics__red-ellipse-mid, .body__scheme--flex__graphics__red-ellipse-bot {
    z-index: 160;
    margin-left: 9px;
    margin-top: 9px;
    width: 11px;
    height: 11px;
    background: #FF374F;
}

.body__scheme--flex__graphics__red-ellipse-mid {
    margin-left: -21px;
    margin-top: 109px;
}


.body__scheme--flex__graphics__red-ellipse-bot {
    margin-left: -3px;
    margin-top: 179px;
}



/*  white lines that point from picture to text  */
.body__scheme--flex__graphics__line10, .body__scheme--flex__graphics__line11, .body__scheme--flex__graphics__line12 {
    height: 0px;
    border: 1px solid #FFFFFF;
}

.body__scheme--flex__graphics__line11 {
    width: 180.27px;

    margin-left: 10px;
    margin-top: 36px;

    transform: rotate(13.49deg);
}

.body__scheme--flex__graphics__line10 {
    width: 206px;

    margin-left: -12px;
    margin-top: 50px;

    transform: rotate(-16.90deg);
}

.body__scheme--flex__graphics__line12 {
    width: 204px;

    margin-left: -12px;
    margin-top: 124px;

    transform: rotate(17deg);
}



/*  text smaller white ellipses   */
.body__scheme--flex__graphics__smaller-white-ellipse-top, .body__scheme--flex__graphics__smaller-white-ellipse-bot {
    z-index: 170;
    width: 3px;
    height: 3px;
    background: #FFFFFF;
}

.body__scheme--flex__graphics__smaller-white-ellipse-top {
    margin-left: 187px;
    margin-top: -161px;
}

.body__scheme--flex__graphics__smaller-white-ellipse-bot {
    margin-left: 187px;
    margin-top: 25.5px;
}


/*  picture width line  */
.body__scheme--flex__graphics__width__line {
    width: 123px;
    height: 0px;

    margin-left: -60px;
    margin-top: 50px;

    border: 1px solid #FFFFFF;
    border-top-width: 1px;
    border-bottom-width: 0px;
    
}

.body__scheme--flex__graphics__width__vector-left, .body__scheme--flex__graphics__width__vector-right, .body__scheme--flex__graphics__width__label__container {
    position: absolute;
    z-index: 170;
}

.body__scheme--flex__graphics__width__vector-left {
    margin-left: -24px;
    margin-top: -8px;
}

.body__scheme--flex__graphics__width__vector-right {
    margin-left: 20px;
    margin-top: -8px;
    transform: rotate(180deg);
}

.body__scheme--flex__graphics__width__label__container {
    margin-left: -9px;
    margin-top: -24px;
}

.body__scheme--flex__graphics__width__label__text {
    font-size: 11px;
    font-weight: 800;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
