@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr?styles=17338,17329,17339,17334,17336,17328,17331');

.body__form-image {
    display: grid;
    grid-template-columns: repeat(2, 800px);

    font-family: 'Avenir Next Cyr Light', sans-serif !important;
    margin-top: 100px;
}