@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr?styles=17338,17329,17339,17334,17336,17328,17331');


.body__form-image__form {
    display: grid;
    grid-column: 1 / 2;

    grid-template-rows: repeat(2, 300px);
}


.body__form-image__form__large-label {
    display: grid;
    grid-row: 1 / 2;

    height: 200px;

    font-family: 'Avenir Next Cyr Light', sans-serif !important;
    font-style: normal;
    font-weight: 300;

    line-height: 60px;
    font-size: 42px;
    text-transform: uppercase;
}

.body__form-image__form__controls {
    display: grid;
    grid-row: 2 / 2;

    grid-template-columns: repeat(2);
}




.body__form-image__form__ellipse-site {
    display: grid;
    grid-column: 1 / 2;

    margin: -20px;
}

.body__form-image__form__ellipse-site__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100px;
    height: 500px;
}


.body__form-image__form__ellipse {
    width: 45px;
    height: 45px;
    
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #728095;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url('/resources/icons/mouse.svg');
}

.body__form-image__form__ellipse-line {
    width: 20px;
    height: 0px;

    margin-bottom: 3px;

    transform: rotate(-90deg);
    border: 1px solid #728095;
}

.body__form-image__form__ellipse-label {
    margin-left: -2px;
    margin-bottom: 56px;
    

    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.04em;

    color: #728095;
    transform: rotate(-90deg);
}






.body__form-image__form__button-label-site {
    display: grid;
    grid-column: 2 / 2;

    margin-top: -50px;

    grid-template-rows: repeat(2, 100px);
}


.body__form-image__form__button-label-site__label {
    display: grid;
    grid-row: 1 / 2;

    margin-left: -26px;
    margin-top: 20px;

    width: 598px;
    height: 70px;

    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}


.body__form-image__form__button-label-site__button-container {
    display: grid;
    grid-row: 2 / 2;

    margin-left: -20px;
    margin-top: 52px;
}

.body__form-image__form__button-label-site__button {
    width: 261px;
    height: 70px;

    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    border: none;
    border-radius: 35px;
    color: white;
    background-color: #FF374F;
}