.body__cloud-layer > {
    position: absolute;
}


.body__cloud-layer__cloud13 {
    z-index: 90;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-13.png');
}
.body__cloud-layer__cloud14 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-14.png');
}
.body__cloud-layer__cloud15 {
    z-index: 105;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-15.png');
}
.body__cloud-layer__cloud16 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-16.png');
}
.body__cloud-layer__cloud17 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-17.png');
}
.body__cloud-layer__cloud18 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-18.png');
}
.body__cloud-layer__cloud19 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-19.png');
}
.body__cloud-layer__cloud20 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-20.png');
}
.body__cloud-layer__cloud21 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-21.png');
}
.body__cloud-layer__cloud22 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-22.png');
}
.body__cloud-layer__cloud23 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-23.png');
}
.body__cloud-layer__cloud24 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-24.png');
}
.body__cloud-layer__cloud25 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-25.png');
}
.body__cloud-layer__cloud26 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-26.png');
}
.body__cloud-layer__cloud27 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-27.png');
}
.body__cloud-layer__cloud28 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-28.png');
}
.body__cloud-layer__cloud29 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-29.png');
}
.body__cloud-layer__cloud30 {
    z-index: 100;
    position: absolute;
    margin-left: 700px;
    margin-top: -160px;

    width: 187.74px;
    height: 100.98px;
    background-image: url('/resources/images/cloud_PNG6-30.png');
}

