


.flex-container {

    display: flex;

}


.main-content {

    margin-left: 400px;
    margin-top: 60px;

}


.element-list {

    margin-top: 30px;

    padding-inline-start: 0;

    width: 750px;

}


.element, .margin-top-30px {

    padding-top: 30px;

}


.element {

    width: 700px;

    background-color: white;

    margin-bottom: 30px;

    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 26px;

}


.border-right-green {

    border-right: solid;
    border-right-width: 4px;
    border-right-color: rgb(140, 190, 149);

}


.bottom-span {

    margin-right: 6px;

    background-color: rgb(132, 147, 186);

}