@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900,1000');

.footer__item-list-container__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;

    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: -20px;

    width: 220px;
    height: 169px;

    background: #FFFFFF;
    border-radius: 30px;
}


.footer__item-list-container__item__text {
    margin-top: -40px;
    font: 400 'Roboto', sans serif;
    font-size: 14px;
    line-height: 22px;
}

.footer__item-list-container__item__image--clock {
    width: 32px;
    height: 32px;

    fill: linear-gradient(51.19deg, #63AFCD 22.46%, #FF374F 111.79%);
}