@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr?styles=17338,17329,17339,17334,17336,17328,17331');

.footer__item-list-container__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;

    margin-top: 80px;

    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;

    width: 220px;
    height: 169px;

    background: #FFFFFF;
    border-radius: 30px;
}


.footer__item-list-container__item__text {
    font-family: 'Avenir Next Cyr', sans serif;
    font-weight: 450;
    font-size: 14px;
    line-height: 22px;
}