


.clr-bg-white {
    background-color: white;
}


.clr-bg-dim {
    background-color: rgb( 245, 245, 245);
}


.clr-bg-transparent {
    background-color: transparent;
}


.clr-border-green {
    border-color: rgb(100, 200, 100);
}


.clr-fg-grey {
    color: dimgrey;
}


.clr-top-form-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
}


.clr-form-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}


.clr-input-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.clr-input-text-color {
    color: lightgrey;
}