


.gen-margin-left-6px {
    margin-left: 6px;
}


.gen-margin-bottom-4px {
    margin-bottom: 4px;
}


.gen-br-10px {
    border-radius: 10px;
}


.gen-cursor-pointer {
    cursor: pointer;
}


.gen-position-abs {
    position: absolute;
}


.gen-position-rel {
    position: relative;
}