


.gm-main-content {
    margin: 200px;
}


.gm-flex-container, .gm-label-input-pair, .gm-bottom-control-zone, gm-flex-horizontal-zone {
    display: flex;
    justify-content:space-around;
}


.gm-label-input-pair {
     flex-flow: column;

     margin-bottom: 24px;
}


.gm-form-one, .gm-form-two {
    height: auto;

    padding: 40px;
}


.gm-form-one {
    z-index: 2;

    width: 400px;
}


.gm-form-two {
    z-index: 1;

    margin-left: -60px;

    padding-left: 80px;

    width: 900px;
}


.gm-input, .gm-select {
    width: 400px;
    height: 52px;

    border:none;
    outline:none;
}


.gm-input {
    padding: 20px;
}


.gm-select {
    padding-left: 20px;

    align-items: center;

    cursor: pointer;

    
}

.gm-bottom-control-zone {
    flex-flow: row;
    justify-content:space-around;

    margin-top: 40px;
}


.gm-borderless-shape, .gm-solid-border-shape {
    border-radius: 6px;

    padding: 16px 60px 16px 60px;
}


.gm-borderless-shape {
    border: none;
}


.gm-solid-border-shape {
    border: solid;
    border-width: 2px;
}
