@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800,900,1000');


.picture-list {
    display: flex;
    margin-left: 240px;
    margin-bottom: 14px;
}


.picture-list__item {
    width: 280px;
    height: 120px;

    padding-top: 2px;

    position: relative;
    margin-right: 14px;
    border-radius: 14px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-color: rgb(244, 249, 254);
}


.picture-list__item__paragraph {
    width: 180px;
    z-index: 2;

    margin-left: 16px;
    margin-top: 14px;
    margin-right: 10px;

    font-size: 16px;
    font-weight: 500;
}


.picture-list__item--background--bus, .picture-list__item--background--wtf {
    background-size: 120px 104px;
}

.picture-list__item--background--wtf, .picture-list__item--background--tools {
    width: 240px;
}

.picture-list__item--background--bus {
    background-image: url("../../resources/bus.png");
}

.picture-list__item--background--drug {
    background-image: url("../../resources/drugs.png");
}

.picture-list__item--background--wtf {
    background-image: url("../../resources/wtf.png");
}

.picture-list__item--background--tools {
    background-image: url("../../resources/tools.png");
}

.picture-list__item--background--fruit {
    background-image: url("../../resources/fruit.png");
}