.shared__section {
    display: flex;
    flex-direction: column;
    
    margin: 40px 40px 40px 40px;
    padding: 0 160px 40px 160px;
}

.shared__table-section {
    background-color: rgb(244, 249, 254);
}

.shared__picture-section {
    max-width: 1200px;
}

/* they are actually equal but I still wished to keep the semantics */
.shared__table-caption, .shared__picture-list-caption {
    margin: 40px;
    margin-left: 240px;

    font-size: 40px;
}







