@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800,900,1000');

* {
    font-family: Open Sans;
}



table {
    width: 100%;
    max-width: 1200px;
    
    border-radius: 10px;
    border-spacing: 0;

    background: transparent;

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}

thead, tr, td {
    height: 30px;
}

thead {
    border-radius: 10px;
    color: white;
    background-color:rgb(43, 101, 140);
}

tbody tr:nth-child(even) {
    background-color:white;
}

tbody tr:nth-child(odd) {
    background-color: rgb(244, 249, 254);
} 