.table-wrapper {
    margin: auto;
    margin-bottom: 20px;

    width: 1000px;
    overflow: auto;
    border-radius: 10px;
}



.table__header {
    border-radius: 10px;
}



.table__element--left, .table__element--center, .table__element--right {
    padding-left: 20px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    width: 320px;
}

.table__element--left {
    text-align: left;
}

.table__element--center {
    text-align: center;
}

.table__element--right {
    text-align: right;
}