


.flex-container {

    display: flex;

}


.element-list {

    margin-top: 30px;

    padding-inline-start: 0;

    width: 750px;

}


.padding-top-30px {

    padding-top: 30px;

}


.border-right-green {

    border-right: solid;
    border-right-width: 4px;
    border-right-color: rgb(140, 190, 149);

}


.bottom-span {

    margin-right: 6px;

    background-color: rgb(132, 147, 186);

}