body {

    font-family: Arial, sans-serif;

    background-color: rgb(240, 241, 244)

}


a, a:visited {

    text-decoration-line: none;
    
}


p {

    margin: 0;

}


ul {

    list-style-type: none;

}