@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800,900,1000');


.form-input {
    width: 380px;
    height: 52px;

    padding: 20px;

    border: none;
    border-radius: 10px;
    outline: none;

    font-family: Open Sans;
    font-size: 15px;

    color: dimgrey;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}