.color-white {
    color: white;
}

.color-dimgray {
    color: dimgray;
}

.color-dimgrey {
    color: dimgrey;
}

.color-gray {
    color: gray;
}

.color-grey {
    color: grey;
}

.color-lightgray {
    color: lightgray;
}

.color-lightgrey {
    color: lightgrey;
}

.color-blue {
    color: blue;
}

