.color-white {
    color: white;
}

.color-dimgray {
    color: dimgray;
}

.color-dimgrey {
    color: dimgrey;
}

.color-lightgray {
    color: lightgray;
}

.color-lightgrey {
    color: lightgrey;
}

