@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900,1000');

.common__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 10px;

    width: 1500px;
    height: 100px;

    text-transform: uppercase;
}


.common__header__phone__number--black, .common__header__phone__number--white {
    font-weight: 700;
}




.common__header__link-array {
    display: flex;
}

.common__header__link-array__label, .common__header__link-array__label--business--black, .common__header__link-array__label--business--white {
    margin-left: 30px;
    margin-right: 30px;

    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #828282;
}

.common__header__link-array__label--business--black {
    color: #000000;
}

.common__header__link-array__label--business--white {
    color: #FFFFFF;
}

.common__header__phone {
    display: flex;
    justify-content: center;
    gap: 20px;

    height: 100%;
}

.common__header__phone__icon--black, .common__header__phone__icon--white {
    width: 22px;
    height: 22px;
    background-image: url('/resources/icons/phone.png');
}

.common__header__phone__icon--white {
    fill: #FFFFFF;
}

.common__header__phone__icon--black {
    fill: #000000;
}

.common__header__phone__number--black {
    color: #000000;
}

.common__header__phone__number--white {
    color: #FFFFFF;
}

.common__header__pointer-img {
    position: absolute;
    width: 22px;
    height: 23px;
    left: 868px;
    top: 76px;
}