.common__header__logo {
    position: relative;
    margin-top: -10px;
    width: 200px;

    cursor: pointer;
}

.common__header__logo__picture {
    margin-right: 10px;
}

.common__header__logo__picture--square1 {
    position: absolute;
    z-index: 1;
    height: 46px;
    width: 47.3px
}

.common__header__logo__picture--square2 {
    position: absolute;
    z-index: 2;

    width: 32.21px;
    height: 31.33px;
    top: 7.38px;
    left: 7.54px;
}

.common__header__logo__picture--square3 {
    position: absolute;
    z-index: 3;

    width: 21.93px;
    height: 21.33px;
    top: 12.33px;
    left: 12.68px;
}

.common__header__logo__picture--square4 {
    position: absolute;
    z-index: 4;

    width: 14.94px;
    height: 14.53px;
    top: 15.77px;
    left: 16.18px;
}

.common__header__logo__picture--cross {
    position: absolute;
    z-index: 5;

    width: 43.48px;
    height: 42.28px;
    top: 1.86px;
    left: 1.91px;
}

.common__header__logo__text-logo {
    position: absolute;
    left: 54.51px;
    top: 6.64px;
}