.flex-container {
    display: flex;
}


.upper-content {
    justify-content: left;
}


.icon {
    margin-bottom: 12px;
    margin-top: 16px;
    margin-right: 0px;
    margin-left: 0px;
}


.title, .path {
    margin-left: 10px;
    line-height: 6px;

}


.title {
    font-size: 13px;
}


.path {
    font-size: 11px;
    color:gray;
}