
.picture-section-container {
    margin-bottom: 14px;
}


.image-text {
    font-size: 16px;

    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 2;
    width: 100px;
}

.image-wrapper {
    border-radius: 14px;

    flex-wrap: nowrap;
    height: 110px;

    width: auto;
}

.paragraph-image-container {

    margin: 10px;
    border-radius: 14px;
    background-color: rgb(244, 249, 254);
}


.pic-div {
    position: relative;

    margin-right: 14px;

    border-radius: 14px;

    height: 120px;
    width: 280px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;

    padding-top: 2px;
}


.bus-div, .wtf-div {
    background-size: 120px 104px;
}

.wtf-div {
    width: 240px;
}

.bus-div {
    background-image: url("../../resources/bus.png");
}

.drug-div {
    background-image: url("../../resources/drugs.png");
}

.wtf-div {
    background-image: url("../../resources/wtf.png");
}

