.table-wrapper {
    width: 1200px;
    overflow: auto;
    border-radius: 20px;
    border: 1px solid black;
  }


table {
    width: 100%;
    max-width: 1200px;
    
    border-radius: 10px;
    border-spacing: 0;

    background: transparent;
}

thead, tr, td {
    height: 30px;
}

thead {
    border-radius: 10px;
    color: white;
    background-color:rgb(43, 101, 140);
}


.left-table-element, .center-table-element, .right-table-element {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    width: 320px;
}

.table-header {
    border-radius: 10px;
}



.left-table-element {
    text-align: left;
}

.center-table-element {
    text-align: center;
}

.right-table-element {
    text-align: right;
}

tbody tr:nth-child(even) {
    background-color:white;
}
tbody tr:nth-child(odd) {
    background-color: rgb(244, 249, 254);
} 