@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800,900,1000');


.form-label {
    margin-left: 6px;
    margin-bottom: 4px;

    font-family: Open Sans;
    font-size: 15px;
}